.back-top{

position:fixed;

right:30px;

bottom:30px;

width:58px;

height:58px;

border-radius:50%;

border:none;

background:var(--primary);

color:white;

cursor:pointer;

z-index:999;

box-shadow:0 20px 40px rgba(91,61,245,.30);

transition:.3s;

}

.back-top:hover{

transform:translateY(-5px) scale(1.08);

}