.store-btn{

    display:flex;

    align-items:center;

    gap:16px;

    background:#111827;

    color:white;

    border:none;

    border-radius:18px;

    padding:14px 24px;

    cursor:pointer;

    transition:.3s;

    min-width:220px;

}

.store-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 16px 40px rgba(0,0,0,.18);

}

.icon{

    width:46px;

    height:46px;

    display:flex;

    align-items:center;

    justify-content:center;

    border-radius:12px;

    background:rgba(255,255,255,.08);

}

.icon span{

    font-size:30px;

}

.text{

    display:flex;

    flex-direction:column;

    text-align:left;

}

.text small{

    opacity:.75;

    font-size:11px;

    letter-spacing:.5px;

}

.text strong{

    font-size:18px;

    font-weight:600;

}